/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Proxima Nova Regular';
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/*Our style*/

.wrapper{
	max-width: 1900px;
	width: 100%;
	margin: 0 auto;
}

header{
    height: 125px;
    display: flex;
    align-items: center;
	background-color: #0a1720;
}

.center{
    max-width: 1300px;
    width: 90%;
	margin: 0 auto;
}

header img{
    height: 85px;
    width: 175px;
}

header .flex_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1300px;
}

header .menu{
    display: flex;
}

header .menu li a{
    font-family: 'Sitka-Banner';
    font-size: 17px;
    color: #b5b5b5;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding: 8px 30px;
}

header .menu li a:hover{
    background-color: #ff467f;
    color: #fff;
    border-radius: 4px;
}

.container2{
    position: relative;
    height: 855px;
}

.container2 .owl-carousel owl-theme{
    height: 855px;
    background-size: cover;
}

.container2 .owl-theme .owl-nav{
    position: absolute;
    height: 65px;
    width: 115px;
    background-color: rgba(66, 65, 68, 0.5);
    right: 0;
    left: 80%;
    top: 72%;
}

.container2 .owl-nav button.owl-prev span, .container2 .owl-nav button.owl-next span{
    position: relative;
    color: #fff;
    font-size: 50px;
    top: 100%;
    padding: 2px 20%;
}

.container2 .block{
    position: absolute;
    right: 0;
    top: 35%;
    height: 250px;
    width: 565px;
    background-color: rgba(66, 65, 68, 0.5);
    text-align: center;
    align-items: flex-end;
    z-index: 1;
}

.container2 .block .big_text{
    font-family: 'Sitka-Banner';
    text-align: left;
    font-size: 40px;
    color: #fff;
    margin-top: 45px;
    padding-left: 30px;
}

.container2 .block .small_text{
    font-family: 'Sitka-Banner';
    text-align: left;
    font-size: 24px;
    color: #fff;
    margin-top: 30px;
    padding-left: 30px;
}

.container3{
    height: 855px;
    background-color: #fff;
}

.container3 .information{
    display: flex;
    justify-content: space-between;
}

.container3 .information .part_one img, .container3 .information .part_three img{
    height: 260px;
    width: 260px;
    border-radius: 50%;
    margin-top: 300px;
}

.container3 .information .part_one p, .container3 .information .part_three p{
    font-family: 'SnellBT_Regular';
    font-size: 68px;
    text-align: center;
    line-height: 40%;
}

.container3 .information .part_one p span, .container3 .information .part_three p span{
    font-family: 'Sitka-Banner';
    font-size: 24px;
}

.container3 .information .part_two{
    text-align: center;
    align-items: center;
    margin-top: 50px;
}

.container3 .information .part_two p.title{
    font-family: 'Sitka-Banner';
    font-size: 24px;
    color: #ff467f;
    text-transform: uppercase;
}

.container3 .information .part_two p.title span{
    font-family: 'Sitka-Banner';
    color: black;
    font-size: 48px;
    line-height: 120%;
}

.container3 .information img{
    height: 32px;
    width: 200px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.container3 .information .part_two p.Invitation{
    font-family: 'SnellBT_Regular';
    font-size: 68px;
}

.container3 .information .part_two .line{
    position: relative;
    height: 1.7px;
    width: 240px;
    background-color: #ff467f;
    text-align: center;
    left: 20%;
    top: 2%;
}

.container3 .part_two h3{
    font-family: 'Sitka-Banner';
    text-align: center;
    font-size: 24px;
    line-height: 120%;
    color: black;
    margin-top: 40px;
}

.container3 .part_two h4{
    font-family: 'Sitka-Banner';
    text-align: center;
    font-size: 38px;
    color: #ff467f;
    margin-top: 30px;
}

.container3 .part_two h4.date{
    font-family: 'Roboto_Regular';
    text-align: center;
    font-size: 48px;
    color: black;
    margin-top: 22px;
}

.container3 .part_two h4.date span{
    font-weight: 600;
}

.container3 .part_two h5{
    font-family: 'Sitka-Banner';
    text-align: center;
    font-size: 24px;
    color: black;
    margin-top: 22px;
}

.container3 .part_two .button li a{
    position: relative;
    font-family: 'Sitka-Banner';
    font-size: 40px;
    font-weight: 500;
    color: #ece8e9;
    background-color: #ff467f;
    text-decoration: none;
    padding: 10px 45px;
    box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.7);
    top: 80px;
    left: 10px;
}

.container3 .button li a:hover{
    color: #fff;
    background-color: black;
    border-radius: 4px;
}

.container4{
    height: 1150px;
    width: 100%;
    background-color: #252527;
}

.container4 .top_4{
    height: 205px;
}

.container4 .top_4 h2{
    font-family: 'Sitka-Banner';
    font-size: 45px;
    text-align: center;
    color: #fff;
    padding-top: 60px;
    padding-bottom: 24px;
}

.container4 .top_4 img{
    height: 32px;
    width: 200px;
    margin-left: 45%;
}

.container4 .gallery4{
    height: 490px;
    width: 100%;
    align-items: center;
}

.container4 .gallery4 .item img{
    box-shadow: 5px 5px 12px rgba(10, 10, 10, 5);
}

.container4 .owl-theme .owl-nav{
    position: absolute;
    height: 65px;
    width: 135px;
    background-color: #923b57;
    right: 0;
    left: 80%;
    top: 72%;
}

.container4 .owl-nav button.owl-prev span, .container4 .owl-nav button.owl-next span{
    position: absolute;
    color: #fff;
    background-color: #923b57;
    padding: 8px 22px;
    font-size: 50px;
    top: 110%;
    margin-left: 45%;
}

.container4 .owl-nav button.owl-prev, .container4 .owl-nav button.owl-next{
    height: 100%;
    width: 4%;
}

.container5{
    height: 320px;
}

.container5 h2{
    font-family: 'Sitka-Banner';
    font-size: 56px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 40px;
}

.container5 img{
    height: 32px;
    width: 200px;
    margin-left: 40%;
    margin-top: 18px;
}

.container5 .center p{
    font-family: 'Sitka-Banner';
    font-size: 24px;
    text-align: center;
    margin-top: 32px;
    line-height: 150%;
}

.container6{
    background-image: url(./images/container6/girl.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 995px;
    width: 100%;
    position: relative;
}

.container6 .block{
    position: absolute;
    right: 0;
    top: 38%;
    height: 528px;
    width: 1134px;
    background-color: #fff;
    text-align: center;
    align-items: flex-end;
    z-index: 1;
}

.container6 .block h2{
    position: absolute;
    font-family: 'Roboto_Medium';
    font-size: 54px;
    color: black;
    padding-top: 60px;
    margin-left: 70px;
    font-weight: 600;
}

.container6 .block .big_text{
    font-family: 'Sitka-Banner';
    position: absolute;
    text-align: left;
    font-size: 24px;
    color: #ff467f;
    padding-top: 170px;
    margin-left: 60px;
    line-height: 120%;
}

.container6 .block .small_text{
    font-family: 'Sitka-Banner';
    text-align: left;
    font-size: 24px;
    color: black;
    padding-top: 290px;
    margin-left: 60px;
    line-height: 120%;
}

.container6 .block img{
    height: 500px;
    width: 640px;
    position: absolute;
    top: 10px;
    right: 25px;
    border-radius: 20%;
}

.container6 .button li a{
    position: absolute;
    font-family: 'Sitka-Banner';
    font-size: 25px;
    color: #ece8e9;
    background-color: #ff467f;
    text-decoration: none;
    padding: 16px 20px;
    box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.7);
    bottom: 80px;
    left: 60px;
}

.container6 .button li a:hover{
    color: #fff;
    background-color: black;
    border-radius: 4px;
}

.container7{
    height: 350px;
}

.container7 h2{
    font-family: 'Sitka-Banner';
    font-size: 30px;
    text-align: center;
    padding-top: 72px;
}

.container7 .icon{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 50px;
}

.container7 .icon li.white:hover, .container7 .icon li.sony:hover,
.container7 .icon li.garden:hover, .container7 .icon li.red:hover,
.container7 .icon li.mick:hover{
    transform: scale(1.2);
}

.container7 .icon li.white{
    padding: 3%;
}

footer{
    height: 1430px;
    margin-top: -700px;
    z-index: 0;
    background: linear-gradient(340deg, #e41150 32%, #fff 65%);
}

footer .center .limit{
    display: flex;
    justify-content: space-between;
    max-height: 250px;
    padding-top: 75%;
}

footer .center .limit .nav{
    position: absolute;
    height: 200px;
}

footer .center .limit h2{
    font-size: 30px;
    color:#fff;
    padding-bottom: 30px;
}

footer .center .limit h2:hover{
    transform: scale(1.2);
}

footer .center .limit .menu{
    font-size: 22px;
    color: #dad7d7;
    line-height: 200%;
}

footer .center .limit  .part1 .menu span{
    color: #dad7d7;
    margin-left: 20px;
}

footer .center .limit  .part1 .menu a{
    text-decoration: none;
}

footer .center .limit .menu li:hover{
    color: #fff;
    font-weight: bold;
}

footer .center .limit  .part4 .enter h3{
    color: #8d9092;
    font-size: 18px;
    padding-left: 15px;
}

footer form{
    text-align: left;
    display: flex;
}


footer form input{
	height: 55px;
	line-height: 240px;
	color: #7e7e7e;
	background-color: #f0f0f0;
	padding: 0 100px 0 10px;
	border: none;
	font-family: 'Sitka-Banner';
    font-size: 18px;
}


footer form button{
	background-color: #387de5;
	color: #ffffff;
	height: 55px;
	line-height: 60px;
	padding: 0 30px;
	border: none;
	font-family: 'Sitka-Banner';
	font-size: 18px;
    margin-left: -100px;
    
}
footer form button:hover{
	background-color:#ffffff;
	color:  #0a0a0a; 
}

footer p{
	font-family: 'Sitka-Banner';
	font-size: 18px;
	text-align: center;
	color: #fff;
    position: relative;
    top: 150px;  
}

footer .social{
    position: relative;
    top: 15%;
    display: flex;
    justify-content: space-between;
    width: 150px;
}

footer .social .icon span{
    height: 40px;
	width: 40px;
	background-color: #fff;
	border-radius: 50%;
	text-align: center;
    display: inline-block;
}

footer .social .icon span i{
    margin-top: 25%;
}

footer .social .icon span.facebook{
    color: #fff;
    background-color: #2556a0;
}

footer .social .icon span.facebook:hover{
    color: #2556a0;
    background-color: #fff;
}

footer .social .icon span.twitter{
    color: #fff;
    background-color: #00b7eb;
}

footer .social .icon span.twitter:hover{
    color: #00b7eb;
    background-color: #fff;
}

footer .social .icon span.google{
    color: #fff;
    background-color: #fa4631;
}

footer .social .icon span.google:hover{
    color: #fa4631;
    background-color: #fff;
}

.center .box{
    position: relative;
    text-align: center;
	height: 720px;
	width: 930px;
	background-color: #fff;
	border-radius: 25px;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, .2);
    margin-left: 250px;
    z-index: 1;
}

.center .box .limit{
    max-width: 800px;
    margin: 0 auto;
}

.center .box h2{
    font-family: 'Sitka-Banner';
    text-align: center;
    color: #ff467f;
    font-size: 43px;
    padding-top: 55px;
}

.center .box .enter{
    display: flex;
    justify-content: space-between;
}

.center .box .enter input{
    font-size: 22px;
    color: #7e7e7e;
    background-color: #eaeaeb;
    height: 80px;
    width: 370px;
    text-align: left;
    padding-left: 20px;
    position: relative;
    border-radius: 3px;
    margin-top: 30px;
}

.center .box .enter2 textarea{
    font-size: 22px;
    color: #7e7e7e;
    background-color: #eaeaeb;
    height: 220px;
    width: 96%;
    text-align: left;
    padding-left: 20px;
    position: relative;
    border-radius: 4px;
    margin-top: 30px;
    
} 

.center .button li a{
    position: absolute;
    font-family: 'Sitka-Banner';
    text-transform: uppercase;
    font-size: 18px;
    color: #ece8e9;
    background-color: #ff467f;
    text-decoration: none;
    padding: 16px 20px;
    box-shadow:  4px 6px 8px rgba(0, 0, 0, 0.7);
    bottom: 170px;
    left: 100px;
}

.center .button li a:hover{
    color: #fff;
    background-color: black;
    border-radius: 4px;
}



@media(max-width: 1660px){
    .container6 .block{
    top: 3%;
    height: 728px;
    width: 534px;
    }
    .container6 .block img{
    height: 300px;
    width: 440px;
    top: 50%;
    }
}

@media(max-width: 1500px){
    .container2{
        position: relative;
        height: 685px;
    }
    .container4{
        height: 800px;
    }
    .container2 .owl-theme .owl-nav{
        top: 80%;
    } 
}

@media(max-width: 1320px){
    .center{
        max-width: 1000px;
    }
    .center .box{
        height: 520px;
        width: 730px;
    }
    .center .box .limit{
        max-width: 600px;
    }
    .center .box .limit .enter p{
        max-width: 250px;
    }
    .center .box .limit .enter2 p{
        height: 120px;
    }
    .center .button li a{
        bottom: 30px;
    }
}

@media(max-width: 1024px){
    .wrapper{
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
    }
    .center{
        max-width: 900px;
    }
    .container2{
        height: 475px;
    }
    .container2 .block{
        top: 15%;
    }
    .container4{
        height: 620px;
    }
    .container6{
        background-size: 100%;
        height: 650px;
    }
    .container6 .block{
        height: 550px;
        height: 490px;
    }
    .container6 .block img{
        height: 150px;
        width: 220px;
        top: 1%;
    }
    .container7{
        height: 750px;
    }
    .container7 h2{
        padding-top: 0;
        height: 150px;
    }
    .container7 .icon{
        display: block;
        max-width: 850px;
        padding: 0;
    }
    .center .box{
        margin-left: 80px;
        margin-top: 30px;
    }
    .center .box .enter input{
        width: 253px;
    }
    .center .box .enter2 textarea{
        position: absolute;
        left: 65px;
        height: 120px;
        width: 530px;
    }
    footer .center .limit{
        padding-top: 100%;
    }
    footer .center .limit h2{
        font-size: 18px;
    }
    footer .center .limit .menu li{
        font-size: 14px;
    }

    footer .center .limit h2{
        font-size: 20px;
        color: rgb(126, 7, 100);
        font-weight: 900;
        margin-top: 30px;
    }
    footer .center .limit .menu li{
        font-size: 16px;
        color: #252527;
        font-weight: 700; 
    }
}

@media(max-width: 992px){
    .container7 .icon img{
        height: 95px;
        width: 130px;
    }
    .container7 .icon li.white{
        padding: 0;
    }
}

@media(max-width: 768px){
    header .center .burger{
        display: inline-block;
        height: 30px;
        width: 30px;
        background-color: #fff;
        display: none;
    }
    header .center .burger i{
        width: 20px;
        height: 4px;
        margin: 5px;
        background-color: #923b57;
        display: block;
    }
    header .menu{
        display: block;
        margin-top: 0px;
    }
    header img{
        height: 100px;
        width: 200px;
        margin-top: 0px;
        margin-left: 20px;
    }
    .container2{
        height: 370px;
    }
    .container2 .owl-theme .owl-nav{
        top: 75%;
    }
    .container2 .block{
        height: 210px;
        width: 405px;
    }
    .container2 .block .big_text{
        font-size: 30px;
    }
    .container2 .block .small_text{
        font-size: 22px ;
    }
    .container3{
        height: 1885px;
        width: 688px;
    }
    .container3 .information{
        display: block;
        text-align: center;
    }
    .container3 .information .part_one img{
        margin-top: 150px;
    }
    .container3 .information .part_one{
        margin-top: -100px;
    }
    .container3 .information .part_three{
        margin-top: -120px;
    }
    .container3 .information .part_two .line{
        left: 30%;
    }
    .container4{
        height: 650px;
    }
    .container4 .top_4 img{
        margin-left: 35%;
    }
    .container4 .owl-nav button.owl-prev span, .container4 .owl-nav button.owl-next span{
        position: absolute;
        color: #fff;
        background-color: #923b57;
        padding: 2px 12px;
        font-size: 40px;
        top: 105%;
        margin-left: 45%;
    }
    .container6{
        height: 800px;
    }
    .container6 .block{
        top: 50%;
    }
    .container7 h2{
        padding-top: 15%;
    }
    .center .box{
        width: 680px;
        margin-left: 0;
        margin-bottom: 30px;
    }
    .center .box .enter2 textarea{
        margin-left: -22px;
    }
    footer{
        height: 2180px;
    }
    footer .center .limit{
        display: block;
    }
    footer .center .limit h2{
        font-size: 35px;
        color: rgb(126, 7, 100);
        font-weight: 900;
        margin-top: 30px;
    }
    footer .center .limit .menu li{
        font-size: 24px;
        color: #252527;
        font-weight: 700; 
    }
    footer .center .limit .part1 .menu span{
        color: #725e64;
    }
    footer p{
        top: 1100px;
    }
    footer form{
        margin-top: 20px;
    }
    footer .social{
        margin-top: 50px;
    }   
}

@media(max-width: 576px){
    header .center .burger{
        display: inline-block;
        height: 30px;
        width: 30px;
        background-color: #fff;
        display: none;
        margin-right: 30px;
    }
    header .center .burger i{
        width: 20px;
        height: 4px;
        margin: 5px;
        background-color: #923b57;
        display: block;
        display: none;
    }
    header{
        height: 175px;
    }
    header .menu{
        display: none;
        margin-top: 0px;
        line-height: 150%;
    }
    header .show{
        display: block;
    }
    header .menu li a{
        font-size: 25px;
    }
    header img{
        height: 100px;
        width: 200px;
        margin-top: 0px;
        margin-left: 20px;
    }
    .container2{
        height: 600px;
    }
    .container2 .block{
        height: 210px;
        width: 574px;
        margin-top: 150px;
        background-color: #0a1720;
    }
    .container2 .owl-theme .owl-nav{
        top: 60%;
    }
    .container2 .block .big_text{
        font-size: 40px;
    }
    .container2 .block .small_text{
        font-size: 24px ;
    }
    .container3{
        height: 1885px;
        width: 575px;
    }
    .container3 .information{
        display: block;
        text-align: center;
    }
    .container3 .information .part_two .line{
        left: 30%;
    }
    .container3 .information .part_one img{
        margin-top: 150px;
    }
    .container3 .information .part_one{
        margin-top: -100px;
    }
    .container3 .information .part_three{
        margin-top: -120px;
    }
    .container3 .information .part_two p.title span{
        font-size: 38px;
    }
    .container4{
        height: 680px;
    }
    .container4 .top_4{
        height: 165px;
    }
    .container4 .top_4 h2{
        padding-top: 30px;
        font-size: 35px;
    }
    .container4 .top_4 img{
        margin-left: 32%;
    }
    .container4 .owl-carousel .owl-item img{
        height: 405px;
    }
    .container4 .owl-nav button.owl-prev span, .container4 .owl-nav button.owl-next span{
        position: absolute;
        color: #fff;
        background-color: #923b57;
        padding: 2px 12px;
        font-size: 40px;
        top: 100%;
        margin-left: 43%;
    }
    .container5 h2{
        font-size: 46px;
    }
    .container5 img{
        margin-left: 32%;
    }
    .container5 .center p{
        font-size: 20px;
        text-align: center;
        margin-top: 20px;
        line-height: 150%;
    }
    .container6{
        height: 800px;
    }
    .container6 .block{
        top: 38%;
    }
    .container7 h2{
        padding-top: 15%;
        margin-top: -80px;
    }
    .container7 .icon{
        margin-top: -60px;
    }
    .center .box{
        width: 500px;
        margin-left: 0;
        margin-bottom: 30px;
        height: 550px;
    }
    .center .box .limit{
        width: 515px;
    }
    .center .box .enter2 textarea{
        left: 145px;
        height: 80px;
        width: 250px;
    }
    .center .button li a{
        left: 180px;
    }
    footer{
        height: 1930px;
        margin-top: -500px;
    }
    footer .center .limit{
        display: block;
    }
    footer .center .limit h2{
        font-size: 40px;
        color: rgb(126, 7, 100);
        font-weight: 900;
        margin-top: 30px;
    }
    footer .center .limit .menu li{
        font-size: 30px;
        color: #252527;
        font-weight: 700; 
    }
    footer .center .limit .part1 .menu span{
        color: #725e64;
    }
    footer p{
        top: 1100px;
    }
    footer form{
        margin-top: 20px;
    }
    footer .social{
        margin-top: 50px;
    }
}

@media(max-width: 414px){
    header{
        height: 175px;
    }
    header .menu{
        display: block;
        margin-top: 0px;
        line-height: 150%;
    }
    header .menu li a{
        font-size: 25px;
    }
    header img{
        height: 100px;
        width: 200px;
        margin-top: 0px;
        margin-left: 20px;
    }
    .container2{
        height: 600px;
    }
    .container2 .block{
        height: 210px;
        width: 574px;
        margin-top: 96px;
        background-color: #0a1720;
    }
    .container2 .owl-theme .owl-nav{
        top: 65%;
        left: 65%;
    }
    .container2 .block .big_text{
        font-size: 26px;
        margin-top: 18px;
        padding-left: 170px;
    }
    .container2 .block .small_text{
        font-size: 20px;
        padding-left: 170px;
    }
    .container3{
        height: 1885px;
        width: 414px;
    }
    .container3 .information{
        display: block;
        text-align: center;
    }
    .container3 .information .part_two .line{
        left: 15%;
    }
    .container4{
        height: 630px;
    }
    .container4 .top_4{
        height: 135px;
    }
    .container4 .top_4 h2{
        padding-top: 30px;
        font-size: 35px;
    }
    .container4 .top_4 img{
        margin-left: 26%;
    }
    .container4 .owl-carousel .owl-item img{
        height: 405px;
        object-fit: cover;
    }
    .container4 .owl-nav button.owl-prev span, .container4 .owl-nav button.owl-next span{
        position: absolute;
        color: #fff;
        background-color: #923b57;
        padding: 2px 8px;
        font-size: 36px;
        top: 100%;
        margin-left: 40%;
    }
    .container5{
        max-width: 414px;
    }
    .container5 h2{
        font-size: 38px;
    }
    .container5 img{
        margin-left: 22%;
    }
    .container5 .center p{
        font-size: 20px;
        text-align: center;
        margin-top: 20px;
        line-height: 150%;
    }
    .container6{
        height: 750px;
        width: 414px;
    }
    .container6 .block{
        top: 26%;
        max-width: 414px;
    }
    .container6 .block img{
        height: 150px;
        width: 220px;
    }
    .container6 .block h2{
        font-size: 36px;
    }
    .container6 .button li a{
        bottom: 40px;
    }
    .container7 h2{
        padding-top: 15%;
        margin-top: -80px;
    }
    .container7 .icon{
        margin-top: -60px;
    }
    .center .box{
        width: 350px;
        margin-left: 0;
        margin-bottom: 30px;
        height: 550px;
    }
    .center .box .limit{
        width: 320px;
    }
    .center .box .enter2 textarea{
        left: 60px;
        height: 80px;
        width: 250px;
    }
    .center .button li a{
        left: 50px;
    }
    footer{
        height: 1800px;
        margin-top: -300px;
    }
    footer .center .limit{
        display: block;
    }
    footer .center .limit h2{
        font-size: 40px;
        color: rgb(126, 7, 100);
        font-weight: 900;
        margin-top: 30px;
    }
    footer .center .limit .menu li{
        font-size: 30px;
        color: #252527;
        font-weight: 700; 
    }
    footer .center .limit .part1 .menu span{
        color: #725e64;
    }
    footer p{
        top: 1100px;
    }
    footer form{
        margin-top: 20px;
    }
    footer .social{
        margin-top: 50px;
    }
}

@media(max-width: 375px){
    header{
        height: 175px;
    }
    header .center .burger{
        display: inline-block;
        height: 30px;
        width: 30px;
        background-color: #fff;
        
    }
    header .center .burger i{
        width: 20px;
        height: 4px;
        margin: 5px;
        background-color: #923b57;
        display: block;
        
    }
    header .menu{
        display: none;
        margin-top: 0px;
        line-height: 150%;
    }
    header .swow{
        display: block;
    }
    header .menu li a{
        font-size: 15px;
    }
    header img{
        height: 80px;
        width: 150px;
        margin-top: 0px;
        margin-left: 20px;
    }
    .container2{
        height: 600px;
    }
    .container2 .block{
        height: 160px;
        width: 375px;
        margin-top: 80px;
        background-color: #0a1720;
    }
    .container2 .owl-theme .owl-nav{
        top: 65%;
        left: 65%;
    }
    .container2 .block .big_text{
        font-size: 22px;
        margin-top: 18px;
        padding-left: 15px;
    }
    .container2 .block .small_text{
        font-size: 18px;
        padding-left: 15px;
    }
    .container3{
        height: 1885px;
        width: 375px;
        margin-top: -300px;
    }
    .container3 .information .part_two .line{
        left: 15%;
    }
    .container4{
        height: 630px;
    }
    .container4 .owl-nav button.owl-prev span, .container4 .owl-nav button.owl-next span{
        font-size: 28px;
    }
    .container5{
        max-width: 375px;
    }
    .container5 h2{
        font-size: 38px;
    }
    .container6{
        height: 500px;
        width: 375px;
    }
    .container6 .block{
        top: 26%;
        max-width: 375px;
    }
    .container6 .block img{
        height: 70px;
        width: 110px;
    }
    .container6 .block h2{
        font-size: 40px;
        padding-top: 30px;
    }
    .container6 .block .big_text{
        padding-top: 110px;
        margin-left: 20px;
        font-size: 20px;
    }
    .container6 .block .small_text{
        padding-top: 210px;
        margin-left: 20px;
        font-size: 20px;
    }
    .container6 .button li a{
        bottom: 150px;
    }
    .container7{
        max-width: 375px;
        height: 700px;
        z-index: 3;
    }
    .container7 h2{
        margin-top: 70px;
        font-size: 22px;
    }
    .container7 .icon{
        margin-top: -60px;
    }
    .center .box{
        width: 330px;
        margin-left: 0;
        margin-bottom: 30px;
        height: 550px;
    }
    .center .box .limit{
        width: 310px;
    }
    .center .box .enter2 textarea{
        left: 50px;
        height: 80px;
        width: 250px;
    }
    .center .button li a{
        left: 50px;
    }
    footer{
        height: 1750px;
        margin-top: -300px;
    }
}

@media(max-width: 360px){
    .container2{
        height: 600px;
    }
    .container2 .owl-theme .owl-nav{
        top: 68%;
        left: 85%;
        height: 40px;
        width: 50px;
    }
    .container2 .owl-nav button.owl-prev span, .container2 .owl-nav button.owl-next span{
        font-size: 25px;
    }
    .container2 .block .big_text{
        padding-left: 35px;
    }
    .container2 .block .small_text{
        padding-left: 35px;
    }
    .container2 .block{
        margin-top: 68px;
    }
    .container3{
        height: 1685px;
        width: 360px;
        margin-top: -380px;
    }
    .container3 .information .part_one p, .container3 .information .part_three p{
        font-size: 50px;
    }
    .container3 .information .part_one p span, .container3 .information .part_three p span{
        font-size: 20px;
    }
    .container3 .information .part_two p.title span{
        font-size: 28px;
    }
    .container3 .information .part_two p.title{
        font-size: 22px;
    }
    .container3 .information .part_two p.Invitation{
        font-size: 48px;
    }
    .container3 .information .part_two .line{
        left: 20%;
        width: 180px;
    }
    .container3 .part_two h4{
        font-size: 32px;
    }
    .container3 .part_two h4.date{
        font-size: 36px;
    }
    .container3 .part_two .button li a{
        font-size: 30px;
        padding: 10px 25px;
    }
    .container5{
        max-width: 360px;
    }
    .container5 h2{
        font-size: 38px;
    }
    .container6{
        height: 500px;
        width: 360px;
    }
    .container6 .block{
        top: 26%;
        max-width: 360px;
    }
    .container6 .block img{
        height: 70px;
        width: 110px;
    }
    .container6 .block h2{
        font-size: 40px;
        padding-top: 30px;
    }
    .container6 .block .big_text{
        padding-top: 110px;
        margin-left: 20px;
        font-size: 20px;
    }
    .container6 .block .small_text{
        padding-top: 210px;
        margin-left: 20px;
        font-size: 20px;
    }
    .container6 .button li a{
        bottom: 150px;
    }
    .container7{
        max-width: 360px;
        height: 700px;
        z-index: 3;
    }
    .container7 h2{
        margin-top: 70px;
        font-size: 22px;
    }
    .container7 .icon{
        margin-top: -60px;
    }
    .center .box{
        width: 330px;
        margin-left: 0;
        margin-bottom: 30px;
        height: 550px;
    }
    .center .box .limit{
        width: 310px;
    }
    .center .box .enter2 textarea{
        left: 50px;
        height: 80px;
        width: 250px;
    }
    .center .button li a{
        left: 50px;
    }
    footer{
        height: 1750px;
        margin-top: -300px;
    }
}

@media(max-width: 320px){
    .container2{
        height: 600px;
    }
    .container2 .owl-theme .owl-nav{
        top: 60%;
        left: 80%;
        height: 40px;
        width: 50px;
    }
    .container2 .block {
        margin-top: 54px;
    }
    .container2 .block .big_text{
        padding-left: 65px;
    }
    .container2 .block .small_text{
        padding-left: 65px;
    }
    .container3{
        height: 1500px;
        width: 320px; 
    }
    .container3 .information .part_one img, .container3 .information .part_three img {
        height: 160px;
        width: 160px;
    }
    .container4{
        width: 320px;
    }
    .container4 .top_4 img{
        margin-left: 20%;
    }
    .container4 .owl-nav button.owl-prev span, .container4 .owl-nav button.owl-next span{
        font-size: 18px;
    }
    .container5{
        max-width: 320px;
    }
    .container5 h2{
        font-size: 30px;
    }
    .container5 .center p{
        font-size: 18px;
    }
    .container6{
        height: 430px;
        width: 320px;
    }
    .container6 .block{
        top: 26%;
        max-width: 320px;
    }
    .container6 .button li a{
        bottom: 120px;
    }
    .container7{
        max-width: 320px;
        height: 700px;
        z-index: 3;
    }
    .container7 h2{
        margin-top: 130px;
        font-size: 22px;
    }
    .center .box{
        width: 290px;
        margin-left: 0;
        margin-bottom: 30px;
        height: 450px;
    }
    .center .box .limit{
        width: 230px;
    }
    .center .box .enter input{
        width: 185px;
        height: 50px;

    }
    .center .box .enter2 textarea{
        left: 68px;
        height: 50px;
        width: 185px;
    }
    .center .button li a{
        left: 50px;
    }
    footer{
        height: 1700px;
        margin-top: -300px;
    }
    footer .center .limit h2{
        font-size: 30px;
    }
    footer .center .limit .menu li{
        font-size: 24px;
    }
    footer form input{
        padding: 0 50px 0 10px;
    }
}
